article p:first-of-type {
    font-size: 140%;
    font-style: italic;
}

article :last-of-type {
    font-weight: bold;
}

ul li:nth-child(odd) {
    color: deeppink;
}

a:visited, a:link {
    color: dodgerblue;
}

a:hover, a:focus {
    color: deeppink;
}
/* first-child, first-of-child, last-child,last-of-type  */