.container {
    display: flex;
    flex-direction: column;
}


.box {
    background: darksalmon;
    padding: 1rem;
}

.box:nth-of-type(2) {
    background: pink;
    /* to change the color of second box use pseudo class elements :  */
}

/* to put boxes next to eachother */
@media screen and(min-width: 600px) and (max-width: 900px) {
    .container: row;
    
}