<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../../HTML1/css/normalize.css">
    <link rel='stylesheet' type='text/css' media='screen' href='styles.css'>
    <script src='main.js'></script>
</head>
<body>
    <span class="box"></span><span class="box"></span>
    <!-- ctrl+D to have cursor on both side to change Div into Span  -->
</body>
</html>



<!-- div is a block level element, width and height property only applied to block level element, block level element take up the entire horizontal space -->

<!-- inline element does not support height and width property fot this we use DISPLAY property -->