<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../HTML1/css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <!-- only type .container it will automatically apply div  -->
    <div class="container">
      <!-- <header></header> -->
      <!-- <main></main> -->
      <!-- <footer></footer> -->
      <!-- but for demo only .box*4 applied -->
<div class="box box-one">A</div>
<div class="box box-two">B</div>
<div class="box box-three">C</div>
<div class="box box-four">D</div>


    </div>
  </body>
</html>
