body {
    margin: 10px;
}

.container {
    display: grid;
    /* 3rows 2columns */
    /* grid-template-rows: 100px 100px 100px; we can also write repeat(3, 100px) */
    /* grid-template-columns: 100px 100px; repeat(2,100px) */
    /* grid-template: repeat(3,100px)/repeat(2,100px); we can also write in this way */
    grid-template: 100px auto 100px/ 30fr 70fr; /* we can also write like this */
    grid-template-areas: 
    "header header"
     "sidebar main" 
     ".    footer";
     /* if we want footer box start from both coloums then "footer footer"  */
    /* row-gap: 10px;
    column-gap: 20px; */
    gap: 10px 20px; /* it is shorthand of row gap and column, if we use the same value only single value will be applied  */
    border: 3px solid cyan;
    /* justify-items: center;
    align-items: center; */
/* justify-content: center;
align-content: center; */
height: 100vh;

}

.box {
    /* width: 5rem;
height: 5rem; */
background:gold ;
}

.box-one {
    /* grid-column: 1/-1; to start a box one from first column and end at last  */
    grid-area: header; /* instead of exact location of number we can type the location by name so no need to add grid-column and row values  */
}

.box-four {
    grid-area: footer;
}



/* we can also inspect and tap grid option for further procedure  */