<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../HTML1/css/normalize.css">
    <link rel='stylesheet' type='text/css' media='screen' href='styles.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="box">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa animi pariatur aliquid aut, vero ut temporibus eaque, omnis, veritatis magnam sint. Veniam aut ipsam consequuntur voluptatibus, suscipit doloribus alias itaque ratione reiciendis, expedita facilis quibusdam optio dicta quasi adipisci dolore excepturi. Numquam doloribus possimus iste. Laborum id ipsum accusantium a!</p>    </div>
</body>
</html>