<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="gallery">
        <img src="../../HTML1/images/photo-1421167418805-7f170a738eb4.jpg" alt="">
<img src="../../HTML1/images/photo-1438907046657-4ae137eb8c5e.jpg" alt="">
<img src="../../HTML1/images/photo-1445116572660-236099ec97a0.jpg" alt="">
<img src="../../HTML1/images/photo-1455560460927-c48345dd421d.jpg" alt="">
<img src="../../HTML1/images/photo-1460819739742-50e4486578f5.jpg" alt="">
<img src="../../HTML1/images/photo-1477925518023-22b33cbd802c.jpg" alt="">
<img src="../../HTML1/images/photo-1521136492500-e18f107709f7.jpg" alt="">
<img src="../../HTML1/images/Tea-Time.jpg" alt="">
<img src="../../HTML1/images/heart.jpg" alt="">


    </div>
</body>
</html>