<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <article class="tweet clearfix">
      <div class="avatar clearfix"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <p class="clear">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam accusamus nulla perferendis sit odio vero asperiores exercitationem maiores, natus impedit consequatur quae eveniet voluptates ex aut facilis dicta, minima tempora expedita explicabo soluta! Deserunt at aliquam id, aspernatur officiis est corrupti reprehenderit. Ducimus itaque quo praesentium, fuga minima ab a?</p>
    </article>
  </body>
</html>
